{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.5; 
}

header, footer {
    background-color: #0d224d;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
}

main {
    width: 400px;
    margin: 0 auto; 
}

h1 {
    margin: 10px;
    text-align: center;
}

h2 {
    border-bottom: 1px solid #5c2b2b;
    margin-bottom: 1rem;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px #8b8181;
}

section {
    margin: 10px 0;
    border: 1px solid rgba(80, 122, 12, 0.1); 
    padding: 10px;
    background-color: aquamarine;
    font-size: 1rem; 
}

section p {
    margin: 10px;
}

ul {
    margin: 10px 20px 0;
}

footer {
    font-size: 0.9rem; 
}