 body { 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 0cm;

header {
background-color: #000103;
color: #fff;
padding: 10px;
text-align: center;
font-size: 1.5rem;
{

    main {
        width: 400px;
        margin: 0 :auto;
    }


    h1 {
        margin: 10px;
        text-align: center;
    }

    img {
        width: 100%;
        height: auto;
        box-shadow: oo;
    }
    }
   
   
    footer